* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }

  h1, h2, h3, p {
    color: #333;
  }

  .container {
    padding: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .kk {
    color: #ffffff;
  }

  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .button:hover {
    background-color: #0069d9;
  }

  .button:active {
    background-color: #005cbf;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  div {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  input,
  textarea {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #666;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  footer a{
    background: #333;
    color: #ffffff;
  }

  .qq {
    color: rgb(255, 0, 0);
    width: 100px;
    height: 1000px;
  }

  .bb {
    color: rgb(255, 0, 0);
  }
  
  .a {
    text-decoration: none;
  }

  .p {
    color: red;
  }

